* {
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
}

.m-bg {
    background: beige;
}

.m-20 {
    margin: 20px;
}
.m-10{
    margin: 10px;
}

.p-20 {
    padding: 20px;
}
.p-10{
    padding: 10px;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.container-s {
    max-width: 80%;
    max-height: 80%;
    margin: 30px auto;

}

.container-bg {
    background: firebrick;
}
.blue-s{
    width: 45%;
    height: 100%;
}
.blue-bg{
    background: deepskyblue;
}

.s-size {
    height: 360px ;
    font-size: 50px;
}

.s-bg {
    background: aqua;
}
.ye-s{
    height: 100%;
    width: 22%;
}
.ye-bg{
    background: orange;
}
.pink-s{
    height: 100%;
    width: 34%;
}
.pink-s-1{
    height: 100%;
    width: 60%;
}
.pink-bg{
    background: plum;
}
@media (max-width: 992px) {
    .float-l{
        float:none;
    }
    .blue-s{
        width: 100%;}

}